/* set up header container as a flex box giving it a background and font color*/
header {
  display: flex;
  background-color: #0f304e;
  color: whitesmoke;
  padding: 10px;
}
/* created class of header to set up flex box in the container for the headshot and name*/
.header {
  display: flex;
  flex-direction: row;
}
/*give image a set height */
#headshot {
  height: 150px;
}
/*styled the font size, letter spacing and space inside the container*/
h1 {
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: 200;
  padding-top: 40px;
}

/* added sub-heading details*/
h2 {
  font-size: 30px;
  margin-top: 10px;
}
/*added attributes to list items to line up hotizontally and separate by 10px */
li {
  width: 40%;
  display: inline;
  margin-right: 10px;
  font-size: 20px;
}
ul {
}
/*added to main element...no changes*/
main {
  color: #0f304e;
  padding-top: 20px;
  margin-left: 90px;
  text-decoration: none;
}
/*set margin to keep text within view for full screen desktop view and adjusted line height for readability */
p {
  padding-top: 20px;
  margin-right: 120px;
  margin-left: 30px;
  line-height: 1.5;
}
/* Removed underlining with text decoration attribute, sent links to right with flex-end*/
#links {
  color: white;
  text-decoration: none;
  justify-content: flex-end;
  row-gap: 10px;
}
/* */
footer {
  background-color: #0f304e;
  color: whitesmoke;
  height: 50px;
}
/* Resized images using % instead of px*/
#proj1 {
  height: 10%;
  width: 80%;
  padding-top: 20px;
}
#proj2 {
  height: 10%;
  width: 40%;
}
#proj3 {
  height: 10%;
  width: 40%;
}
.contact {
  text-decoration: none;
}
/*wrapped images in div and set margin to line up with paragraph above*/
.images {
  margin-left: 30px;
}

@media screen and (max-width: 992px) {
    .images{
        width: 50%;
    }
}
    

@media screen and (max-width: 576px) {
    .images{
        width: 100%;
    }
}