 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* */

header{
    background-color: #0F304E;
    color: whitesmoke;  
}
/* */
#headshot{
    padding-top: 20px;
    padding-left: 30px;
    height: 125px;
    width: 150px;
}
/* */
h1{
    text-align: center;
    font-size: 60px;
}
/* */
nav{
    display: flex;
}
/* */
main {
    color: #0f304e;
    padding-top: 20px;
    padding-left: 30px;
}
/* */
p{
    padding-top: 20px;
}
/* */
#links {
    color: white
}
/* */
footer{
    background-color: #0F304E;
    color: whitesmoke;
}
/* */
#proj1{
    height: 300px;
    width:600px;
    padding-top: 20px;
}
#proj2{
    height: 150px;
    width:300px;
}
#proj3{
    height: 150px;
    width:300px;
}