 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #0F304E;
    color: whitesmoke;
}
img {
    height: 125px;
    width: 150px;
}

.img-1 {
    justify-content: stretch;
}
main {
    color: #0f304e;
}


#links {
    color: white
}
#spaceholder{
    height: 500px;
    width: 1000px;
}
footer{
    background-color: #0F304E;
    color: whitesmoke;
    
